header {
  height: 10vh;
  width: 80%;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px;
  box-shadow: 1px 5px 11px 2px rgba(0, 0, 0, 0.3);
  h1 {
    font-weight: 400;
    font-size: 3.5rem;
  }

  img {
    height: 70px;
    width: 70px;
  }
}
