@import "base";
@import "navRest";

.container {
  z-index: 100;
  color: white;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 50px;

  main {
    display: flex;
    height: 60vh;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-weight: 200;
      font-size: 7rem;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    button {
      margin-right: 30px;
      border: none;
      cursor: pointer;
      transition: all 0.5s;
      font-size: 2.5rem;
      font-weight: 200;
      padding: 15px 70px;
    }

    .reserveer {
      color: black;
      background-color: white;
    }

    .menu {
      background-color: transparent;
      color: white;
      text-decoration: underline;
      text-transform: uppercase;
      text-underline-offset: 10px;
    }
  }
}

// BG
.background {
  background-image: url(../../img/chef-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.3;
  }
}

//////////////////////////////////////// MODAL - RESERVEREN

.modal-reserveren {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .box {
    background-color: white;
    width: 545px;
    // height: 415px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 40px 60px;

    .header {
      position: relative;

      .close-reserveren {
        position: absolute;
        top: 13%;
        right: 3%;
        font-size: 1.8rem;
        cursor: pointer;
      }

      h1 {
        font-weight: 400;
        font-size: 2.2rem;
        margin-bottom: 25px;

        span {
          color: $main-color;
        }
      }
    }
    form {
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        p {
          font-size: 2.5rem;
          font-weight: 300;
        }

        input {
          border: 1px solid $main-color;
          padding: 10px 20px;
          border-radius: 8px;
          opacity: 0.8;
        }
      }

      button {
        color: white;
        font-size: 1.8rem;
        text-align: center;
        background-color: $main-color;
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        transition: all ease 0.2s;
        border: 1px solid $main-color;
        width: 50%;
        align-self: flex-end;

        &:hover {
          color: $main-color;
          background-color: white;
        }
      }
    }
  }
}

//////////////////////////////////////// MODAL - MENUKAART

.modal-menukaart {
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .box {
    background-color: white;
    width: 815px;
    height: 775px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 40px 100px;

    .header {
      text-align: center;

      .x {
        position: absolute;
        top: 5%;
        right: 10%;
        font-size: 3rem;
        cursor: pointer;
      }
      h1 {
        font-weight: 300;
        font-size: 2.5rem;
        margin-bottom: 20px;

        span {
          color: $main-color;
        }
      }

      h4 {
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.5rem;
        margin-bottom: 30px;
        font-weight: 300;
      }
    }

    .gerechten {
      h3 {
        color: $main-color;
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: 300;
      }

      p {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
