@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #70b7ff;
  color: white;
  transition: all 0.5s ease;
}

.sidebar .container {
  padding-left: 40px;
  padding-top: 45px;
}

.sidebar .container h1 {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 70px;
}

.sidebar .container .dashboard h3,
.sidebar .container .quick-menu h3 {
  font-weight: 500;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.sidebar .container .dashboard .item,
.sidebar .container .quick-menu .item {
  margin-bottom: 10px;
}

.sidebar .container .dashboard .item a,
.sidebar .container .quick-menu .item a {
  margin-left: 20px;
  font-size: 2.5rem;
  font-weight: 400;
}

.sidebar .container .dashboard .item:last-child,
.sidebar .container .quick-menu .item:last-child {
  margin-bottom: 50px;
}

.sidebar .container .logout {
  display: flex;
  align-items: center;
}

.sidebar .container .logout img {
  margin-right: 20px;
  transform: scale(0.7);
  cursor: pointer;
}

@media (max-width: 1800px) {
  .sidebar .container .logout img {
    margin-right: 0;
    height: 30px;
    width: 30px;
    transform: scale(1);
  }
}

.sidebar .container .logout a {
  font-size: 2.5rem;
}

@media (max-width: 1800px) {
  .sidebar {
    width: 10vw;
  }
  .sidebar .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sidebar .container h1 {
    font-size: 3rem;
    margin-top: 20%;
  }
  .sidebar .container .dashboard img,
  .sidebar .container .quick-menu img {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  .sidebar .container .dashboard h3,
  .sidebar .container .quick-menu h3 {
    display: none;
  }
  .sidebar .container .dashboard .item a,
  .sidebar .container .quick-menu .item a {
    margin-left: 0;
  }
  .sidebar .container .hidden-text {
    display: none;
  }
}

header {
  height: 10vh;
  width: 80%;
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 60px;
  box-shadow: 1px 5px 11px 2px rgba(0, 0, 0, 0.3);
}

header h1 {
  font-weight: 400;
  font-size: 3.5rem;
}

header img {
  height: 70px;
  width: 70px;
}

@media (max-width: 1800px) {
  header {
    width: 90%;
    margin-left: 10%;
  }
  header h1 {
    font-size: 3rem;
  }
}

.dashboard-home {
  margin-left: 20%;
  padding: 50px 200px;
}

.dashboard-home .btn-bekijken {
  border: 1px solid #70b7ff;
  color: white;
  background-color: #70b7ff;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 8px;
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.dashboard-home .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.dashboard-home .top .home {
  flex: 0 0 50%;
}

.dashboard-home .top .home h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.dashboard-home .top .home h1 span {
  color: #70b7ff;
}

.dashboard-home .top .home p {
  font-weight: 300;
  font-size: 1.6rem;
}

.dashboard-home .top .reserveringen {
  width: 430px;
  height: 250px;
  padding: 20px 20px;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.dashboard-home .top .reserveringen h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.dashboard-home .top .reserveringen .reservering__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.dashboard-home .top .reserveringen .reservering__header h3 {
  margin-right: 30px;
}

.dashboard-home .top .reserveringen .reservering__item {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.dashboard-home .top .reserveringen .reservering__item p {
  margin-right: 30px;
}

.dashboard-home .bottom {
  display: flex;
  justify-content: space-between;
}

.dashboard-home .bottom .header {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.dashboard-home .bottom .personeel {
  flex: 0 0 30%;
  padding: 25px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.dashboard-home .bottom .personeel .item {
  display: flex;
}

.dashboard-home .bottom .personeel .item img {
  margin-right: 10px;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

.dashboard-home .bottom .personeel .item .item__details {
  display: flex;
  flex-direction: column;
}

.dashboard-home .bottom .personeel .item .item__details h3 {
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.dashboard-home .bottom .personeel .item .item__details p {
  font-size: 1.4rem;
  font-weight: 200;
}

.dashboard-home .bottom .laatste-leveringen {
  padding: 25px 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 630px;
}

.dashboard-home .bottom .laatste-leveringen table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
  margin-bottom: 20px;
}

.dashboard-home .bottom .laatste-leveringen table thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

.dashboard-home .bottom .laatste-leveringen table thead th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.dashboard-home .bottom .laatste-leveringen table td {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.dashboard-home .bottom .laatste-leveringen table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}

.dashboard-home .bottom .laatste-leveringen table .status-pending {
  background-color: #fff0c2;
  color: #a68b00;
}

.dashboard-home .bottom .laatste-leveringen table .status-paid {
  background-color: #c8e6c9;
  color: #388e3c;
}

.dashboard-home .bottom .laatste-leveringen table .status-unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}

.dashboard-home .bottom .laatste-leveringen table .amount {
  text-align: right;
}

.dashboard-home .bottom .laatste-leveringen table tr:nth-child(even) {
  background-color: #f4f6fb;
}

@media (max-width: 1800px) {
  .dashboard-home {
    margin-left: 10%;
    padding: 50px 150px;
  }
}

@media (max-width: 1450px) {
  .dashboard-home {
    margin-left: 10%;
    padding: 50px 80px;
  }
}
